button:disabled {
	opacity: 0.3 !important;
}

body {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	height: 100vh;
}

p {
	margin: 0.6em 0;
}

#app {
	min-height: 100%;
}

#main-toolbar .splitbar {
	border-right: 1.5px solid #565656;
	margin: 7.5px 5px;
	height: 40px;
	display: inline-block;
	vertical-align: bottom;
}

#main-toolbar.toolbar {
	padding: 0 2%;
	overflow: hidden;
}

#main-toolbar.hidden {
	height: 0;
	overflow: hidden;
}

#main-toolbar #activity-button {
	background-image: url(../activity/activity-icon.svg);
}

#main-toolbar #network-button {
	background-image: url(../lib/sugar-web/graphics/icons/actions/zoom-home.svg);
}
#private-button {
	background-image: url(../lib/sugar-web/graphics/icons/actions/zoom-home.svg);
	width: 47px;
	height: 47px;
	margin: 4px 2px;
	color: white;
	color: transparent;
	background-color: transparent;
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	border: 0;
	border-radius: 5.5px;
}
#shared-button {
	background-image: url(../lib/sugar-web/graphics/icons/actions/zoom-neighborhood.svg);
	width: 47px;
	height: 47px;
	margin: 4px 2px;
	color: white;
	color: transparent;
	background-color: transparent;
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	border: 0;
	border-radius: 5.5px;
}

.tutorial-icon-button {
	border-radius: 22px;
	margin-top: 5px;
	height: 35px;
	width: 90px;
	background-color: #808080;
	border: 2px solid #808080;
	display: flex;
	align-items: center;
}

.tutorial-icon-button {
	color: white;
}
.tutorial-icon-button.disabled {
	color: black;
}

.tutorial-title {
	background-color: #808080 !important;
	color: #ffffff !important;
}

.tutorial-prev-icon1 {
	margin-left: 6px;
	background-image: url(../icons/go-left.svg);
	width: 20px;
	height: 20px;
	background-size: 20px 20px;
}

.tutorial-next-icon1 {
	margin-left: 6px;
	background-image: url(../icons/go-right.svg);
	width: 20px;
	height: 20px;
	background-size: 20px 20px;
}

.tutorial-end-icon1 {
	margin-left: 6px;
	background-image: url(../icons/dialog-cancel.svg);
	width: 20px;
	height: 20px;
	background-size: 20px 20px;
}

.tutorial-icon-text {
	padding-left: 4px;
}

#main-toolbar #add-button {
	background-image: url(../icons/add.svg);
}

.pawn {
	background-image: url(../icons/pawn-icon.svg);
	display: inline-block;
	width: 65px;
	height: 65px;
}

#main-toolbar #network-button {
	background-image: url(../lib/sugar-web/graphics/icons/actions/zoom-home.svg);
}

#private-button {
	background-image: url(../lib/sugar-web/graphics/icons/actions/zoom-home.svg);
	width: 47px;
	height: 47px;
	margin: 4px 2px;
	color: white;
	color: transparent;
	background-color: transparent;
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	border: 0;
	border-radius: 5.5px;
}

#shared-button {
	background-image: url(../lib/sugar-web/graphics/icons/actions/zoom-neighborhood.svg);
	width: 47px;
	height: 47px;
	margin: 4px 2px;
	color: white;
	color: transparent;
	background-color: transparent;
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	border: 0;
	border-radius: 5.5px;
}

#main-toolbar #insert-button {
	background-image: url(../icons/insert-picture.svg);
}

.palette-item {
	width: 200px;
	height: 30px;
	padding-top: 15px;
	padding-left: 10px;
}

.palette-item:hover {
	background-color: #808080;
}

.palette-icon {
	width: 30px;
}

.palette-text {
	vertical-align: super;
}

.item-icon {
	padding-top: 3px;
	height: 40px;
}

#main-toolbar #help-button {
	background-image: url(../icons/help.svg);
}

/* UI for tutorial */
.introjs-overlay {
	background-color: #000 !important;
	opacity: .8 !important;
}

.introjs-tooltip {
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif!important;
	border-radius: 6px !important;
	padding: 2px 1px !important;
}

.introjs-helperLayer{
	background: inherit !important;
	opacity: 0.6 !important;
}

.introjs-tooltip-header {
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif!important;
	color : #ffffff !important;
	text-shadow: none !important;
	background-color: #808080 !important;
	margin: 0 !important;
	padding: 0px 10px !important;
	border-bottom: 1px solid #ebebeb !important;
	border-radius: 5px 5px 0 0 !important;
}
.introjs-tooltip-title {
	font-size: 14px !important;
	padding: 0px 8px !important;
	font-weight: 800 !important;
}

.introjs-tooltiptext {
	padding: 9px 14px !important; 
	margin: 8px 0px 10px 0px !important;
}

.introjs-tooltipbuttons {
	padding: 8px !important;
	border-top: none !important;
}

.introjs-skipbutton {
	color: #fff !important;
}

.introjs-button{
	padding: 6px 10px !important;
	/* font-size: 14px !important; */
	border-radius: 6px !important;
} 

